<!doctype html>
{% extends "layout.html" %}

{% block main%}
<h1 class="hoofd">Confirm deleting your account</h1>
<p>We're really sad to see you go! But that's life and there's nothing we can do about it. Please fill in your password to identify yourself.</p>

<form action="{{ url_for('confirmdelete') }}" method="post" style="text-align:center;">
    <fieldset class="midden">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Delete Account</button>
            </div>
        </fieldset>
</form>
{% endblock %}