{% extends "layout.html" %}

<title>Welcome to The most awesome Trivia Game!</title>


<!-- Checks if the user is logged in, based on the outcome prints the play button or login/register button -->
{% block main%}

{% if session.user_id %}
<div style ="text-align:center;">
<h1 class="hoofd">Greetings!</h1>
<p>Click on the button to play!</p>
<a href="/index"><button class="button"><span>Play! </span></button></a>
</div>


{% elif not session.logged_in %}
<div style="text-align:center;">
<h1 class="hoofd">Welcome to Trivia!</h1>
<p>Please login. If you haven't gotten an account yet, please register.</p>
</div>

<div style="text-align:center;">
<a href="/login"><button class="button"><span>Login </span></button></a>
<a href="/register"><button class="button"><span>Register </span></button></a>
</div>
{% endif %}
{% endblock %}