<!doctype html>
{% extends "layout.html" %}

{% block main%}

<div style="text-align:center;">
<h1 class="hoofd">Greetings {{session.username}} !</h1>
    <p>The only thing you have to do, is select the difficulty. Based on your selected difficulty, we'll provide questions.</p>

<h2 class="hoofd">Game rules</h2>
    <p>The rules are very simple. You'll be given 10 questions. If you answer a question correctly, you'll gain 100 points. However, if you answer incorrectly, you'll lose 50 points.</p>

<h2 class="hoofd">Choose Difficulty</h2>

        <form action="{{ url_for('index') }}" method="post">
        <fieldset>
                <div class="form-group">
                    <select name="difficulty">
                        <option value="novice">Novice</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                        <input type="submit" id=loginbtn name="difficulty">
                    </select>

                </div>
        </fieldset>

        <a href="{{ url_for('setup') }}"><h2>Setup</h2></a>
</div>

{% endblock %}