<!doctype html>
{% extends "layout.html" %}

{% block main%}

<h1>Choose the settings and Play!</h1>

     <fieldset>
         <h2>Choose Difficulty</h2>

     <form action="{{ url_for('question1') }}" method="post">
        <fieldset>
            <div class="form-group">
                <select>
                    <option value="novice">Novice</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
        </fieldset>

        <h2>Play!</h2>
            <li><a href="{{ url_for('question01') }}">Question 1</a></li>
        </fieldset>

{% endblock %}