<!DOCTYPE html>
<html>

<head>
<link href="{{ url_for('static', filename='testlayout2.css') }}" rel="stylesheet"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="shortcut icon" href="/static/img/game-controller.png">

<style>
.hoofd
{
    font-family: "Lobster", serif;
    text-align:center;
}
</style>

<title>TRIVIA{% block title %}{% endblock %}</title>

</head>

<body>
<!-- Checks either if the user is logged in or not -->
<!-- Based on the outcome, prints a certain menu -->
{% if session.user_id %}
<ul>
    <li><a href="{{ url_for('home') }}"><img src="https://upload.wikimedia.org/wikipedia/en/archive/2/27/20100328194043%21Trivia.png" width="70" height="14"></img></a></li>
    <li><a href="{{ url_for('leaderboards') }}">Leaderboards</a></li>
    <li><a href="{{ url_for('index') }}">Play</a></li>
    <li style="float:right"><a class= "logout" href="/logout">Hi! {{session['username']}}</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
{% elif not session.logged_in %}
<ul>
    <li><a href="{{ url_for('home') }}"><img src="https://upload.wikimedia.org/wikipedia/en/archive/2/27/20100328194043%21Trivia.png" width="70" height="14"></img></a></li>
    <li><a href="{{ url_for('leaderboards') }}">Leaderboards</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
 {% endif %}

<!-- Homepage -->
            <main>
                {% block main %}{% endblock %}
            </main>

</body>
</html>