<!doctype html>
{% extends "layout.html" %}

{% block main%}
<h1 class="hoofd">Account information</h1>
<p>These are your settings. You have the option to look at your personal information, to change your current password or to delete your account.</p>

<div style="text-align:center;">
<a href="/personalinfo"><button class="button"><span>Personal information </span></button></a>
<a href="/changepassword"><button class="button"><span>Change password </span></button></a>
<a href="/deleteaccount"><button class="button"><span>Delete account </span></button></a>
</div>

{% endblock %}