<!DOCTYPE html>
<html>

<head>
<link href="{{ url_for('static', filename='testlayout2.css') }}" rel="stylesheet"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="shortcut icon" href="/static/img/game-controller.png">

<style>

.hoofd
{
    font-family: "Lobster", serif;
}

</style>

<title>TRIVIA</title>

</head>

<body>

<ul>
    <li><a href="/index"><img src="https://upload.wikimedia.org/wikipedia/en/archive/2/27/20100328194043%21Trivia.png" width="70" height="14"></img></a></li>
    <li><a class = "active" href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/leaderboards">Leaderboards</a></li>
    <li><a href="/index">Index</a></li>
    <li style="float:right"><a class= "logout" href="/logout">Logout</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>



<div class="midden">
<h1 class="hoofd">Dit is de Homepage</h1>
<p>dddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
<p>aaaaaaaaaaaaaaaaaaaaaa</p>
</div>

<!-- Homepage -->
<h1 class="hoofd">Header test</h1>
<div class="header-image">
  <div class="header-text">
    <h1 class="hoofd"><div class="zwart">Welcome "USER"!</div></h1>
    <a href="/login"><button class="button"><span>Play </span></button></a>
  </div>
</div>

<!-- Login -->
<h1 class="hoofd">Login test</h1>
 <p class="midden">Fill in your username and password to login. If you haven't registered yet, click <a href="/register">here</a> to register.</p>
 <form action="{{ url_for('login') }}" method="post">
        <fieldset class="midden">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log in</button>
            </div>
        </fieldset>
    </form>

<!-- Register -->
<h1 class="hoofd">Register test</h1>
<p class="midden">Please fill in your information to register. Make sure to type in a valid e-mail address!</p>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset class="midden">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="E-mail address" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="verificationpassword" placeholder="Verification Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>

<!-- Leaderboards -->
<h1 class="hoofd">Leaderboards test</h1>
    <table id="leaderboards" style="width:100%">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Games Played</th>
        <th>Total Score</th>
        <th>Avarage Score</th>
      </tr>

</body>
</html>
