<!DOCTYPE html>
<html>

<head>
<link href="{{ url_for('static', filename='testlayout.css') }}" rel="stylesheet"/>
<title>TRIVIA</title>
</head>

<body>

<ul>
    <li><a href="/index"><img src="https://upload.wikimedia.org/wikipedia/en/archive/2/27/20100328194043%21Trivia.png" width="70" height="14"></img></a></li>
    <li><a class = "active" href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/leaderboards">Leaderboards</a></li>
    <li><a href="/index">Index</a></li>
    <li style="float:right"><a class= "logout" href="/logout">Logout</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>

<h1>DIT IS HOMEPAGINA</h1>

</body>
</html>
